body{
	background-color: #FFF;
}
a{
	color: #729F98;
}
#logo{
	height: inherit;
	width: inherit;
	margin-left: auto !important;
	margin-right: auto !important;
}
#profilna {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.tipka{
	background-color: #707070;
	border-radius: 5px;
}
.tipka:hover{
	background-color: #729F98;
}
.centar{
	text-align: center;
	line-height: 100%;
}
.izostanci{
	color: #729f98;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
}
input:not(#upload_file){
	height: 50px;
	border: 3px solid #f0f0f0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 3px 0 3px 0;
}
.dodaj, .oduzmi{
	cursor: pointer;
	height: 40px;
	width: 40px;
	transition: 0.25s height, 0.25s width;
}
.dodaj:hover, .oduzmi:hover{
	transition: 0.25s height, 0.25s width;
	height: 45px;
	width: 45px;
}
.prijava {
	text-align: center;
	margin-top: 10%;
}
.prijava input:not(#upload_file){
	width: 90%;
}
.traka{
	width: 100%;
	height: 150px;
	line-height: 150px;
	font-size: 1.2em;
	vertical-align: middle;
}
.predmet{
	min-height: 275px;
	padding-left: 5px;
	padding-right: 5px;
}
.predmet hr{
	height: 9px;
}
.traka a, .traka strong, .footer strong{
	font-family: 'Open Sans Condensed', sans-serif;
}
.naslov{
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 38px;
	color: #729f98;
	text-align: left;
}