body{
	background-color: #FFF;
}
.centar{
	text-align: center;
	line-height: 100%;
}
.izostanci{
	color: #729f98;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
}
input[type="text"]{
	height: 50px;
}
.dodaj, .oduzmi{
	cursor: pointer;
	height: 40px;
	width: 40px;
	transition: 0.25s height, 0.25s width;
}
.dodaj:hover, .oduzmi:hover{
	transition: 0.25s height, 0.25s width;
	height: 45px;
	width: 45px;
}
.footer{
	position: fixed;
	bottom: 0px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	background-color: #283018;
	font-size: 1.2em;
}
.prijava {
	text-align: center;
	margin-top: 10%;
}
.prijava input {
	width: 90%;
}
.traka{
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: #283018;
	font-size: 1.2em;
}
.predmet{
	min-height: 275px;
	padding-left: 5px;
	padding-right: 5px;
}
.predmet hr{
	height: 9px;
}
.traka a, .traka strong, .footer strong{
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
}
.naslov{
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 38px;
	color: #729f98;
	text-align: left;
}
@media screen and (max-width: 600px){
	.footer{
		display: none;
	}
}